{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
  <head>
    {# <meta name="robots" content="noindex"> #}

    {% block head %}
      <meta charset="utf-8" />
      <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
      {% include 'partials/metadata.html.twig' %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      {% if canonical is not null %}
        {{canonical}}
      {% else %}
        <link rel="canonical" href="{{ page.url(true, true) }}" />
      {% endif %}

      {# <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" /> #}
      <link rel="apple-touch-icon" sizes="57x57" href="{{ url("theme://img/apple-icon-57x57.png")}}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{ url("theme://img/apple-icon-60x60.png")}}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{ url("theme://img/apple-icon-72x72.png")}}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{ url("theme://img/apple-icon-76x76.png")}}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ url("theme://img/apple-icon-114x114.png")}}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{ url("theme://img/apple-icon-120x120.png")}}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{ url("theme://img/apple-icon-144x144.png")}}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ url("theme://img/apple-icon-152x152.png")}}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ url("theme://img/apple-icon-180x180.png")}}">
      <link rel="icon" type="image/png" sizes="192x192"  href="{{ url("theme://img/android-icon-192x192.png")}}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url("theme://img/favicon-32x32.png") }}">
      <link rel="icon" type="image/png" sizes="96x96" href="{{ url("theme://img/favicon-96x96.png")}}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url("theme://img/favicon-16x16.png")}}">

      {% block tag_manager_script %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T4K8XMB');</script>
      {% endblock %}

      {% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css', 103) %}
        {% do assets.addCss('theme://css-compiled/nucleus.css', 102) %}
        {% do assets.addCss('theme://css-compiled/template.css', 101) %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
        {% do assets.addCss('theme://css/slidebars.min.css') %}
        {# TODO load this if PROD environment true #}
        {% do assets.addCss('theme://assets/main.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
          {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
          {% do assets.addCss('theme://css/nucleus-ie9.css') %}
          {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
      {% endblock %}

      {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/modernizr.custom.71422.js', 100) %}
        {% do assets.addJs('theme://js/antimatter.js') %}
        {% do assets.addJs('theme://js/slidebars.min.js') %}
        {% do assets.addJs('theme://js/bysidecar.js') %}
      {% endblock %}

      {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
      {% endblock %}
    {% endblock head %}
  </head>

  <body id="top" class="{{ page.header.body_classes }}">
    
    <div id="sb-site">
      {% block header %}
        {% include 'components/header/header.html.twig' with {
          header: site.header
        } %}
      {% endblock %}

      {% block c2c %}
        {% include 'partials/click-to-call.html.twig' %}
      {% endblock %}

      {% block showcase %}{% endblock %}

      {% block body %}
        <section id="body" class="{{ class }}">
          {% block content %}{% endblock %}
        </section>
      {% endblock %}

      {% block footer %}
        {{ site.footer.legal.text }}
        {% include 'components/footer/footer.html.twig' with {
          footer: site.footer
        } %}
      {% endblock %}
    </div>

    {% block sidebar_navigation %}
      <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
          {% include 'partials/navigation.html.twig' %}
        </div>
      </div>
    {% endblock %}

    {% block bottom %}
      <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
      </script>
      {{ assets.js('bottom')|raw }}

      <input type="hidden" value="{{plugin_ip}}" id="hidden_ip"/>
    {% endblock %}

    {% block noscript %}    
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4K8XMB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endblock %}
  </body>
</html>
