{% set c2c = page.header.c2c %}
{{dump(page.header.c2c)}}

<!-- Click to call button -->
<div class="click-to-call-btn bg-primary p-3 d-none d-md-block">
  <div class="text-center">
    <span class="h4 icon icon-phone text-light d-block"></span>
    <span class="h6 text-light m-0">{{ "GRAV.C2C.PREVIOUS" | t | raw }}</span>
  </div>
</div>

<!-- Click to call desktop -->
<div class="click-to-call click-to-call-desktop d-none d-md-block">
  <div class="click-to-call--header d-flex align-items-center justify-content-between align-items-center bg-primary px-3 py-2">
    <div class="d-flex align-items-center">
      <div class="icon-phone-container">
        <span class="h5 icon icon-phone mr-3 text-primary"></span>
      </div>
      {# <span class="h6 text-light m-0">{{ c2c.header | raw }}</span> #}
      <span class="h6 text-light m-0">{{ "GRAV.C2C.HEADER" | t }}</span>
    </div>
    <div class="close-c2c">
      {# <span class="icon-icon_close_thin text-white"></span> #}
        <img src="{{ url('theme://img/close.png') }}" style="width:35px;">
    </div>
  </div>
  <div class="click-to-call--body c2cdesktop text-center px-3 py-4">
    <h4 class="text-header">{{ "GRAV.C2C.TITLE" | t | raw }}</h4>
    <p>{{ "GRAV.C2C.DESC" | t | raw }}</p>
    <form>
      <div class="form-group text-left label-in-block">
        <input type="phone" class="form-control" id="phone" maxlength="9" aria-describedby="phoneHelp" placeholder="{{ "GRAV.C2C.FIELDS.PHONE" | t | raw }}">
        <label for="phone">{{ "GRAV.C2C.FIELDS.PHONE" | t | raw }}</label>
      </div>

      <p class="call-me-now-validation-error text-danger small d-none"></p>

      <div class="form-check text-left d-flex">
        <input type="checkbox" class="form-check-input" id="legalCheck">
        <label class="form-check-label small" for="legalCheck">{{ "GRAV.C2C.FIELDS.PRIVACY" | t | raw }}</label>
      </div>
      <button type="submit" class="btn btn-primary mt-4 btn-block call-me-now">{{ "GRAV.C2C.CTA.TEXT"  | t | raw }}</button>
    </form>
  </div>
</div>

<!-- Click to call mobile -->
<div class="click-to-call click-to-call-mobile d-block d-md-none">
  <div class="click-to-call--header d-flex align-items-center justify-content-between align-items-center bg-primary px-3 py-3">
    <div class="d-flex align-items-center">
      <div class="icon-phone-container">
        <span class="h5 icon icon-phone mr-3 text-primary"></span>
      </div>
      <span class="h4 text-light m-0">{{ "GRAV.C2C.HEADER" | t | raw}}</span>
    </div>
    <div class="close-c2c d-none">
      <span class="icon-icon_close_thin text-white"></span>
    </div>
  </div>
  <div class="click-to-call--body c2cmobile text-center px-3 py-4">
    <h4 class="text-header">{{ "GRAV.C2C.TITLE" | t | raw }}</h4>
    <p>{{ "GRAV.C2C.DESC" | t | raw }}</p>
    <form>
      <div class="form-group text-left label-in-block">
        <input type="phone" class="form-control" id="phone" maxlength="9" aria-describedby="phoneHelp" placeholder="{{ "GRAV.C2C.FIELDS.PHONE" | t | raw }}">
        <label for="phone">{{ "GRAV.C2C.FIELDS.PHONE" | t | raw }}</label>
      </div>

      <p class="call-me-now-validation-error text-danger small d-none"></p>

      <div class="form-check text-left d-flex">
        <input type="checkbox" class="form-check-input" id="legalCheck">
        <label class="form-check-label small" for="legalCheck">{{ "GRAV.C2C.FIELDS.PRIVACY" | t | raw }}</label>
      </div>
      <button type="submit" class="btn btn-primary mt-4 btn-block call-me-now">{{ "GRAV.C2C.CTA.TEXT"  | t | raw }}</button>
    </form>
  </div>
</div>

<!-- Click to call popup -->
<div id="call-me-later-pop-up" class="call-me-now-popup">
  <div class="call-me-now-popup__overlay">
    <div class="call-me-now-popup__contents">
      <div class="call-me-now-popup__content-layer">
        <div class="call-me-now-popup__content">
          <div class="call-me-now-popup__header">
            <p class="r-text h4 text-header m-0">{{ "GRAV.C2C.STATE_CALL.TITLE" | t | raw }}</p>
          </div>
          <div class="call-me-now-popup__body">
            <div class="call-me-now-status call-me-now-status--on-call my-3">
              <div class="lds-dual-ring"></div>
            </div>
            <div class="call-me-now-popup__title">
              <p class="h5 text-header">{{ "GRAV.C2C.STATE_CALL.HELPER_MES1" | t | raw }}</p>
            </div>
            <div class="call-me-now-popup__sub-title">
              <p>{{ "GRAV.C2C.STATE_CALL.SUBTITLE" | t | raw }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.SUBTITLE" | t | raw }}" id="subtitle" />
<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.FORM_ERROR" | t | raw }}" id="form_error" />
<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.HELPER_MES1" | t | raw }}" id="helper_mes1" />
<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.HELPER_MES2" | t | raw }}" id="helper_mes2" />
<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.HELPER_MES3" | t | raw }}" id="helper_mes3" />
<input type="hidden" value="{{ "GRAV.C2C.STATE_CALL.HELPER_MES4" | t | raw }}" id="helper_mes4" />

{# {% include 'partials//click-to-call-privacy-modal.html.twig' %} #}