{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{# TODO: find another way to get collection_mv array (array for most visited posts) #}
	{% set collection_mv = page.collection() %}

	{# {% set most_visited_collection = [] %}
	{% for child in collection %}
		{% if child.header.most_visited == true %}
			{% set most_visited_collection = most_visited_collection|push(child) %}
		{% endif %}
	{% endfor %} #}

	{% block content %}
		{% set blog_image = page.media.images|first.contrast(20).brightness(-100).colorize(-35,81,122) %}

		{# {% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
		</div> #}
		<div class="container-fluid blog-main-header d-flex align-items-end">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4 class="mini-header">Virgin telco</h4>
						<h2 class="h1 text-header text-white m-md-0">Noticias</h2>
					</div>
				</div>
			</div>
		</div>
		
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3 h-feed">
				{% for child in collection %}
					{# {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %} #}
				{% endfor %}

			</div>
			<div id="sidebar" class="block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' with {'blog':page} %}
			</div>
		</div>

		{# {% include 'components/tags-cloud/tags-cloud.html.twig' with {} %} #}


		{# <div class="container most-visited my-5 my-md-8">
			<div class="row">
				<div class="col-1 d-none d-lg-flex justify-content-start align-items-center">
					<img class="img-fluid mt-5" srcset="{{ url('theme://img/most-visited.jpg') }}" />
				</div>
				<div class="col-12 col-lg-11">
					<h2 class="text-primary font-weight-bold mb-4 d-lg-none">{{ "GRAV.MOST_VISITED.HEADER" | t | raw }}</h2>
					{% set customMostVisitedIndex = 0 %}
					{% for child in collection %}
						{% if child.header.most_visited == true %}
							{% set customMostVisitedIndex = customMostVisitedIndex + 1 %}
							{% include 'partials/most_visited.html.twig' with {'blog':page, 'page':child} %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div> #}

		<div class="container blog-grid mb-5 mb-md-8">
			{% for child in collection %}
				{% if loop.index == 3 %}
					<div class="container most-visited mb-4">
						<div class="row">
							<div class="col-2 d-none d-lg-flex justify-content-start align-items-center">
								<img class="img-fluid mt-5" srcset="{{ url('theme://img/most-visited.jpg') }}" />
							</div>
							<div class="col-12 col-lg-10 right-block py-4">
								<h2 class="text-primary font-weight-bold mb-4 d-lg-none">{{ "GRAV.MOST_VISITED.HEADER" | t | raw }}</h2>
								{% set customMostVisitedIndex = 0 %}
								{% for child in collection_mv %}
									{% if child.header.most_visited == true %}
										{% set customMostVisitedIndex = customMostVisitedIndex + 1 %}
										{% include 'partials/most_visited.html.twig' with {'blog':page, 'page':child} %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}

				{% include 'partials/blog_item_loop.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			{% endfor %}
		</div>

		{% if config.plugins.pagination.enabled and collection.params.pagination %}
			{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
		{% endif %}
    
    {# {% include 'components/pre-footer-article/pre-footer-article.html.twig' %} #}
		{# https://github.com/getgrav/grav/issues/1974 #}
		{# printing a modular page! #}
		{{ page.find('/home/_test').content() }}

	{% endblock %}

{% endembed %}