{# {{ dump(site.footer) }} #}
<div class="footer">
  <div class="container-fluid logo-footer-row d-lg-none p-0 px-2">
    <div class="container">
          <div class="footer-logo-square">
            <img class="w-100" srcset="{{ url('theme://img/logo_virgin_telco_white.png') }}">
          </div>
    </div>
  </div>
  <div class="container-fluid footer-main">
    <div class="container text-center p-0">
      <div class="col-12 d-flex flex-column flex-md-row align-items-md-center justify-content-md-between footer-links-container p-0 px-2">
        <div class="footer-logo-square d-none d-lg-block">
          <img class="w-100" srcset="{{ url('theme://img/logo_virgin_telco_white.png') }}">
        </div>
        <div class="footer-links d-flex flex-wrap mb-0 flex-md-row align-items-start align-items-md-center pl-0 pb-4 pb-md-0 pb-md-0 text-white">
          <a class="link" href={{"GRAV.FOOTER.LEGAL.PATH"|t}} target="_blank">{{ "GRAV.FOOTER.LEGAL.TEXT" | t | raw }}</a> 
          <a class="link" data-toggle="modal" href="#c2cTermsModal" style="cursor:pointer;">{{ "GRAV.FOOTER.PRIVACY.TEXT" | t | raw }}</a>
          <a class="link" href={{"GRAV.FOOTER.COOKIES.PATH"|t}} target="_blank">{{ "GRAV.FOOTER.COOKIES.TEXT" | t | raw }}</a> 
        </div>
        <span class="copyright text-left text-md-right text-gray small text-white">
          {{ "GRAV.FOOTER.OTHER.FIELD1" | t | raw }}
        </span>
      </div>
    </div>
  </div>
</div>